.container-wrapper {
  max-width: 600px;
  margin: 20px auto;
}
.container {
  padding: 18px;
  border: 2px;
}
.card {
  display: flex;
  align-items: center;
  background: radial-gradient(
    345px at 3.1% 89.3%,
    rgba(254, 223, 45, 0.46) 0%,
    rgba(254, 139, 45, 0.46) 31.9%,
    rgba(255, 24, 220, 0.46) 62%,
    rgba(24, 145, 255, 0.46) 85.8%
  );
}

.main-city {
  font-size: 70px;
  font-family: "Cookie", cursive;
  display: inline-block;
  margin-bottom: 0;
}
h2,
.row,
.col {
  font-family: "PT Serif", serif;
}
.row {
  text-align: right;
  font-size: 17px;
  list-style-type: none;
}
.row ::first-letter {
  text-transform: capitalize;
}
.main-icon {
  float: right;
}
.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.units .active:hover {
  text-decoration: none;
}
h2 {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
.current-temp {
  font-size: 40px;
  font-weight: 900;
}
.btn {
  padding: 3px 10px;
}

footer {
  font-size: 12px;
  text-align: right;
}
.weather-forecast-date {
  font-weight: bolder;
  font-size: 15px;
  opacity: 0.8;
}
.weather-forecast-temp {
  font-size: 13px;
}
.weather-forecast-min-temp {
  opacity: 0.8;
}
.humiwind {
  list-style: none;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}
.datesky {
  text-align: left;
}
