.container-wrapper {
  max-width: 600px;
  margin: 20px auto;
}
.container {
  padding: 18px;
  border: 2px;
}
.card {
  display: flex;
  align-items: center;
  background: radial-gradient(
    345px at 3.1% 89.3%,
    rgba(254, 223, 45, 0.46) 0%,
    rgba(254, 139, 45, 0.46) 31.9%,
    rgba(255, 24, 220, 0.46) 62%,
    rgba(24, 145, 255, 0.46) 85.8%
  );
}

.main-city {
  font-size: 70px;
  font-family: "Cookie", cursive;
  display: inline-block;
  margin-bottom: 0;
}
h2,
.row,
.col {
  font-family: "PT Serif", serif;
}
.row {
  text-align: right;
  font-size: 17px;
  list-style-type: none;
}
.row ::first-letter {
  text-transform: capitalize;
}
.main-icon {
  float: right;
}
h2 {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
.current-temp {
  font-size: 30px;
  font-weight: 900;
}
.btn {
  padding: 3px 10px;
}

.card-img-top {
  margin-bottom: 20px;
}
footer {
  font-size: 12px;
  text-align: right;
}
